<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>

<div id="todo_items_wrapper">
	<%= render @todo_list.todo_items %>
	<div id="form">
		<%= render "todo_items/form" %>
	</div>
</div>

<div class="links">
	<%= link_to '<i class= "fa fa-pencil fa-lg" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe, edit_todo_list_path(@todo_list) %>
  <span class="navigationSpace"/>
  <%= link_to '<i class= "fa fa-trash fa-lg" data-toggle="tooltip" data-placement="top" title="Delete"></i>'.html_safe, todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" } %>
  <span class="navigationSpace"/>
  <%= link_to '<i class= "fa fa-undo fa-lg" data-toggle="tooltip" data-placement="top" title="Back"></i>'.html_safe, todo_lists_path %>
</div>
